#divPseudoAvatarSelector form {
    text-align: center;
    margin: 0 auto;
    margin-bottom : 20px
}
#userName {
    margin: 20px;
}

#divPseudoAvatarSelector li {
    list-style-type: none;
}
#divPseudoAvatarSelector .selected {
    background-color: blue
}
#avatarSelector {
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;

}
