#divPseudoAvatarSelector  {
    text-align: center;
    margin-bottom : 20px
}
#userName {
    margin: 20px;
}
#submitNameAvatar {
    text-align: center;
    margin: 0 auto;

} 

#divPseudoAvatarSelector li {
    list-style-type: none;
}
#divPseudoAvatarSelector .selected {
    background-color: blue;
    border-radius: 50%;
}
#avatarSelector {
    display: flex;
    flex-direction : row;
    justify-content: space-evenly;

}
