.tile {
    border: 1px solid grey;
    border-radius: 5px;
    padding-top: 100%;
    background: grey;
    background-repeat: no-repeat;
    background-position: center;
}

.custom-row {
    display: flex;
    justify-content: center;
}

.form-control {
    width: 100px;
}

.player h2 {
    border-radius: 25px;
}